$font-family: "Montserrat";

$minWidth: 320px;
$mw: 1200;
$md1: $mw + 12;
$md2: 992.98;
$md3: 767.98;
$md4: 479.98;
$md5: 318.98;

$color1: #595959;
$color2: #ff7011;
$color3: #1e2939;
$color4: rgba(240, 217, 42, 0.611);
$color5: #b3ca34;
